.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
  border: 1px solid white;
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(235, 232, 232);
  margin-bottom: 73px;
  margin-top: 30px;
}

.registerHeader{
  text-align: center;
  font-family: "Varela", sans-serif;
}

input {
  width: 180px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}

.Err {
  font-family: "Varela", sans-serif;
  margin-top: 10px;
}