.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 500px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid white;
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(235, 232, 232);
  margin-bottom: 73px;
  margin-top: 30px;
}

h1 {
  text-align: center;
  font-family: "Varela", sans-serif;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
}
