.INpage {
  display: inline-block;
  background-color: rgb(235, 232, 232);
  width: 100%;
}

.infirstSection {
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100;
  border-bottom: 1px solid #000;
}

.INsecondSection {
  background-color: rgb(235, 232, 232);
  height: 150px;
  padding: 10px;
  border-bottom: 1px black solid;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
}

.INheader {
  font-family: "Varela", sans-serif;
  font-size: 45px;
}

.INsmHeader {
  font-family: "Varela", sans-serif;
  color: rgb(93, 94, 95);
  font-size: 19px;
}

.INtext {
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  margin-top: 10px;
}
