.home {
  height: 600px;
  background-color: rgb(235, 232, 232);
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 50px;
}

.info {
  display: flex;
  width: 900px;
  height: 520px;
  border: 2px black solid;
  border-radius: 15px;
}

.header {
  display: inline-block;
  padding: 10px;
  font-family: "Varela", sans-serif;
}

.mainText {
  display: inline-block;
  margin-left: 25px;
  font-family: 'Varela Round', sans-serif;
  width: 500px;
}

.img {
  border-radius: 15px;
  margin-top: 90px;
  margin-right: 45px;
  height: 300px;
  width: 300px;
}

.thisBtn {
  margin-left: 25px;
  margin-top: 15px;
}
