.home {
  height: 470px;
  background-color: rgb(235, 232, 232);
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 15px;
}

.info {
  display: flex;
  width: 900px;
  height: 320px;
  border: 2px black solid;
  border-radius: 15px;
  margin-top: 60px;
}

.header {
  display: inline-block;
  padding: 10px;
  font-family: "Varela", sans-serif;
  margin-left: 20px;
}

.mainText {
  display: inline-block;
  margin-left: 25px;
  font-family: 'Varela Round', sans-serif;
  width: 500px;
}

.mainText1 {
  margin-top: 10px;
  display: inline-block;
  margin-left: 25px;
  font-family: 'Varela Round', sans-serif;
  width: 500px;
}

.img {
  border-radius: 15px;
  margin-top: 35px;
  margin-right: 45px;
  height: 250px;
  width: 250px;
}

.thisBtn {
  margin-left: 30px;
  margin-top: 15px;
}
