.ratPage {
  flex: 9;
  width: 100%;
  height: 3275px;
}

.taskPage1 {
  flex: 9;
  width: 100;
  height: 550px;
}

.headerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  height: 100px;
  width: 80%;
  border-bottom: 2px solid #000;
  margin-left: 70px;
}

.taskHeader {
  font-family: "Varela", sans-serif;
  font-size: 45px;
}

.taskCard {
  margin-left: 50px;
  margin-top: 40px;
  width: 700px;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(235, 232, 232);
}

.ratCard {
  margin-top: 40px;
  margin-left: 75px;
  margin-bottom: 10px;
  width: 650px;
  height: 375px;
  border-radius: 5px;
  background-color: rgb(235, 232, 232);
}

.ratCard1 {
  margin-left: 75px;
  margin-bottom: 10px;
  margin-top: 80px;
  width: 650px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(235, 232, 232);
}

.ratCard2 {
  margin-left: 75px;
  margin-bottom: 10px;
  margin-top: 90px;
  width: 650px;
  height: 200px;
  border-radius: 5px;
  background-color: rgb(235, 232, 232);
}

.ratCard2 {
  margin-left: 75px;
  margin-bottom: 10px;
  width: 650px;
  height: 230px;
  border-radius: 5px;
  background-color: rgb(235, 232, 232);
}

.taskTitle {
  margin-left: 15px;
  font-size: 24px;
  font-family: "Varela Round", sans-serif;
}

.taskTitle1 {
  margin-left: 10px;
  font-family: "Varela Round", sans-serif;
  font-size: 34px;
}

.qNum {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 25px;
}

.radioBtn {
  height: 15px;
  width: 15px;
}

.radioBtn1 {
  height: 15px;
  width: 15px;
  margin-top: 40px;
}

.qText {
  margin-left: 20px;
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
}

.qText1 {
  margin-left: 20px;
  margin-top: 35px;
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
}

.qTop {
  display: flex;
  flex-wrap: wrap;
}

.question {
  margin-bottom: 15px;
  font-family: "Varela Round", sans-serif;
}

.question1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Varela Round", sans-serif;
}

.question2 {
  margin-top: 13px;
  margin-left: 13px;
  margin-bottom: 10px;
  font-family: "Varela Round", sans-serif;
}

.question4 {
  position: absolute;
  top: 1230px;
  left: 130px;
  font-family: "Varela Round", sans-serif;
}

.question44 {
  position: absolute;
  top: 1250px;
  left: 130px;
  font-family: "Varela Round", sans-serif;
}

.question7 {
  position: absolute;
  top: 2070px;
  left: 130px;
  font-family: "Varela Round", sans-serif;
}

.question77 {
  position: absolute;
  top: 2090px;
  left: 130px;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 10px;
}

.question6 {
  position: absolute;
  top: 1790px;
  left: 130px;
  font-family: "Varela Round", sans-serif;
}

.question66 {
  position: absolute;
  top: 1810px;
  left: 130px;
  font-family: "Varela Round", sans-serif;
}

.question5 {
  position: absolute;
  left: 274px;
  top: 1092px;
  font-family: "Varela Round", sans-serif;
}

.questionT {
  margin-left: 20px;
  margin-top: 9px;
  margin-bottom: 15px;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: rgb(10, 117, 10);
}

.questionF {
  margin-left: 20px;
  margin-top: 9px;
  margin-bottom: 15px;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: red;
}

.answerPos {
  position: absolute;
  margin-left: 500px;
  margin-top: 70px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.circlesImg {
  height: 200px;
  width: 350px;
  margin-bottom: 10px;
}

.fractionsImg {
  height: 45px;
  width: 70px;
  margin-top: 3px;
}

.correctAns {
  width: 650px;
  height: 60px;
  background-color: rgb(22, 134, 22);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.correctAns1 {
  width: 650px;
  height: 70px;
  background-color: rgb(22, 134, 22);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.correctAns2 {
  margin-top: 70px;
  width: 650px;
  height: 70px;
  background-color: rgb(22, 134, 22);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.falseAns {
  width: 650px;
  height: 60px;
  background-color: rgb(216, 9, 9);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.falseAns2 {
  margin-top: 70px;
  width: 650px;
  height: 70px;
  background-color: rgb(216, 9, 9);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.ansPos {
  margin-top: 35px;
}

.ansPos1 {
  margin-top: 15px;
}

.ansPos2 {
  margin-top: 47px;
}

.correctPos {
  margin-left: 5px;
  margin-top: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
}

.tipBtn {
  margin-top: 15px;
  margin-left: 10px;
  border: 1px black solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  background-color: rgb(235, 232, 232);
}

.tipBtn1 {
  margin-top: 50px;
  margin-left: 10px;
  border: 1px black solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  background-color: rgb(235, 232, 232);
}

.hintPos {
  width: 650px;
  height: 60px;
  background-color: rgb(235, 232, 232);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.hintPos1 {
  margin-top: 70px;
  width: 650px;
  height: 60px;
  background-color: rgb(235, 232, 232);
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.hint {
  margin-left: 5px;
  margin-top: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
}

.fractionsImg1 {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}
