.AEpage {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  height: 1350px;
}

.AEpages {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  height: 1400px;
}

.AEpage1 {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  height: 1770px;
}

.AEpages1 {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  height: 2020px;
}

.AEpagess1 {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  height: 2200px;
}

.AEpage2 {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  height: 1375px;
}

.AEpages2 {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  height: 1600px;
}

.AEpagess2 {
  flex: 9;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  height: 1850px;
}

.AElearning {
  width: 90%;
  height: 1200px;
  background-color: orange;
  margin-left: 20px;
}

.AElearning1 {
  width: 90%;
  height: 2200px;
  background-color: orange;
  margin-left: 20px;
}

.AElearning2 {
  width: 90%;
  height: 1525px;
  background-color: orange;
  margin-left: 20px;
}

.AEspace {
  width: 90%;
  height: 325px;
  background-color: #c6f9ed;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.AEtitle {
  margin: 20px;
  font-size: 45px;
  font-family: "Varela", sans-serif;
}

.AEinfo {
  margin-left: 20px;
  margin-top: 50px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.AEinfo1 {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.AEanswer2 {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.AEanswer1 {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.AEinfo2 {
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.AEinfo3 {
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 35px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.AElearningHeader {
  margin: 20px;
  font-size: 25px;
  font-family: "Varela", sans-serif;
}

.AElearningHeader1 {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
}
.AEbtn {
  padding: 20px;
  background-color: black;
  color: white;
  border: none;
  margin-left: 40px;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.squared {
  display: flex;
  flex-wrap: wrap;
}

.sqrImg {
  width: 35px;
  height: 35px;
  margin-top: 7px;
}

.sqrImg1 {
  width: 40px;
  height: 40px;
  margin-top: 13px;
  margin-left: 7px;
}

.bSqr {
  height: 60px;
  width: 90px;
  margin-top: 2px;
}

.eSqr {
  height: 60px;
  width: 90px;
  margin-top: 11px;
  margin-left: 3px;
}
