.setTaskPage {
  display: inline-block;
  margin-left: 310px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.backgroundColor {
  background-color: orange;
  padding-bottom: 150px;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 50px;
  border-radius: 10px;
  background-color: rgb(235, 232, 232);
  margin-top: 30px;
}

label {
  font-size: 30px;
  font-family: "Varela", sans-serif;
}

input {
  height: 30px;
  width: 600px;
  font-size: 20px;
}

.addTaskBtn {
  margin-left: 240px;
  width: 100px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: rgb(7, 0, 3);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Secular One', sans-serif;
}
