.sidebar {
  flex: 3;
  margin-top: 145px;
  margin-bottom: 20px;
  margin-right: 140px;
  padding-bottom: 30px;
  background-color: #edfcf8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 975px;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 90%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: #222;
  line-height: 20px;
  text-align: center;
}

.sidebarTitle1 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 25px;
  padding: 5px;
  width: 60%;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  color: #222;
  line-height: 20px;
  text-align: center;
}

.sidebarItem > img {
  margin-top: 15px;
}

.sidebarItem > p {
  padding: 30px;
  text-align: center;
}

.sidebarList {
  list-style: none;
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 40px;
  cursor: pointer;
}

.sidebarIcon1 {
  font-size: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.laptopImg {
  height: 250px;
  width: 200px;
}

.sidebarLinks {
  display: flex;
  flex-direction: column;
}

.sidebarLink {
  margin-top: 15px;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  border-bottom: 1px solid #000;
}

.sidebarLink2 {
  margin-top: 15px;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  border-bottom: 1px solid #000;
  font-weight: 600;
}

.sidebarLink1 {
  margin-top: 35px;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  border-bottom: 1px solid #000;
  font-weight: 800;
}
