.contact {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 232, 232);
}

.cFirstSection {
  background-color: purple;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  border-bottom: 1px solid #000;
}

.cHeader {
  font-family: "Varela", sans-serif;
  font-size: 45px;
}

.cSecondSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 232, 232);
  border-bottom: 1px black solid;
}

.titleInput {
  width: 450px;
  height: 100px;
  outline: none;
  margin-left: 50px;
  border-radius: 15px;
  font-family: "Varela Round", sans-serif;
}

.emailInput {
  margin-top: 50px;
  width: 450px;
  height: 80px;
  border-radius: 15px;
  margin-left: 50px;
  outline: none;
  font-family: "Varela Round", sans-serif;
}

.queryInput {
  outline: none;
  border-radius: 15px;
  margin-left: 50px;
  width: 500px;
  height: 200px;
  font-family: "Varela Round", sans-serif;
}

.cBtn {
  width: 80px;
  margin-left: 250px;
  margin-bottom: 40px;
  border: none;
  outline: none;
  background-color: purple;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-family: "Varela Round", sans-serif;
  cursor: pointer;
}

.btnPos {
  display: flex;
  float: right;
}

.adminText {
  align-content: center;
  margin-left: 30px;
  margin-top: 30px;
  width: 600px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Varela", sans-serif;
}
